name: Kind CNI From Source
on:
  workflow_dispatch:
    inputs:
      cni:
        required: true

jobs:
  test-kind-calico:
    name: Run Cyclonus on KinD
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Run Cyclonus
        working-directory: hack
        run: CNI=${{ github.event.inputs.cni }} RUN_FROM_SOURCE=true ./run-cyclonus.sh
